@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }

  button {
    @apply transition-all duration-100 hover:scale-105;
  }

  input {
    @apply px-4 py-2 bg-slate-600 rounded-xl
  }
}

@layer utilities {
  .btn {
    @apply self-start px-4 py-2 text-sm capitalize rounded-xl;
  }

  .btn-danger {
    @apply text-white bg-red-600 border-red-600 border;
  }

  .btn-primary {
    @apply bg-slate-700 border-slate-700 text-lime-400 border;
  }
  .btn-primary-outline {
    @apply border-lime-400 text-lime-400 border
  }
  .btn-primary-no-outline {
    @apply  text-lime-400 
  }

  .input-group {
    @apply flex flex-col gap-4
  }

  .modal {
    @apply container mx-auto max-w-2xl h-[80vh] rounded-3xl bg-slate-800 py-6 px-4 overflow-y-auto
  }
  /* Collapsible */
  .collapsible {
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }
  
  .expense-item {
    opacity: 0;
    transition: opacity 0.3s ease-out;
  }
  
  .expense-item.active {
    opacity: 1;
  }
  /* Table */
  .table {
    @apply w-full border-collapse bg-white text-left text-sm text-gray-500
  }

  .table-head {
    @apply bg-gray-50
  }

  .table-header-cell {
    @apply px-6 py-4 font-medium text-gray-900
  }

  .table-body {
    @apply divide-y divide-gray-100 border-t border-gray-100
  }

  .table-row {
    @apply hover:bg-gray-50
  }
}
